html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--bg);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

:root {
  --bg: #808080;
  --item-bg: #514646;
  --item-bg-active: #534c4c;
  --header-txt: #badc58;
  --header-txt-active: #b8d463;
  --red-txt: #d66565;
  --blue-txt: #bdc8e7;
  --light-gray: #dde0db;
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
}

.card-flex {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.header {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  font-size: 2em;
  padding: 0 2rem;
  border-radius: 0 0 90px 0;
  background-color: var(--header-txt);
  color: var(--item-bg);
}

.content {
  display: flex;
  justify-content: center;
  padding-top: 6em;
  width: 100vw;
  height: 100vh;
}

.plus {
  background-color: transparent;
  border: none;
  padding: 1rem;
  height: min-content;
  width: min-content;
  border-radius: 50%;
}

.plus:active {
  background-color: var(--header-txt-active);
}

.plus .plus-icon {
  width: 3rem;
  height: 3rem;
  color: var(--item-bg);
}

.home-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

.sprout-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 15rem;
  height: min(100%, 25rem);
  background-color: var(--item-bg);
  border-radius: 25px;
}

.sprout-item:active {
  background-color: var(--item-bg-active);
}

.sprout-item h2,
.sprout-item h3,
.sprout-item .in-row {
  color: var(--header-txt);
}

.in-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: min(20vw, 15rem);
}

.item-page {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1em;
  gap: 1em;
}

.item-field {
  display: flex;
  flex-direction: row;
  gap: 1em;
  font-size: 1.125rem;
}

.item-switch {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: var(--light-gray);
}

.divider {
  width: 100%;
  border: 1px solid var(--item-bg);
}

.max-width {
  position: relative;
  width: min(90vw, 20rem);
}

.delete-btn {
  position: absolute;
  right: 1em;
  bottom: 5em;
}

.edit-btn {
  position: absolute;
  left: 1em;
  bottom: 5em;
}

.delete-btn,
.edit-btn {
  background-color: transparent;
  border: none;
  padding: 1rem;
  height: min-content;
  width: min-content;
  border-radius: 50%;
}

.delete-btn:active,
.edit-btn:active {
  background-color: var(--light-gray);
}

.delete-btn .plus-icon,
.edit-btn .plus-icon {
  width: 2rem;
  height: 2rem;
}

.delete-btn .plus-icon {
  color: var(--red-txt);
}

.edit-btn .plus-icon {
  color: var(--blue-txt);
}

.item-field label,
.item-switch label {
  font-weight: bolder;
  color: var(--header-txt);
}

.item-field {
  color: var(--light-gray);
}

.font-green {
  color: var(--header-txt);
  font-size: 1.5em;
  padding: 1rem;
}

/* TOGGLE SWITCH */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--light-gray);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--item-bg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--header-txt);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--header-txt);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* PLANT FORM */
.plant-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.plant-form button {
  padding: 0.8rem;
  background-color: var(--header-txt);
  border: none;
  border-radius: 4px;
  font-size: larger;
  letter-spacing: 0.3em;
  color: var(--item-bg);
}
.plant-form button:hover {
  background-color: var(--header-txt-active);
}

.plant-field {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.plant-field label {
  color: var(--header-txt);
  font-weight: bolder;
}

.plant-field input,
.plant-field select {
  padding: 0.7em 0.5em;
  border-radius: 4px;
  background-color: var(--light-gray);
  border: var(--light-gray);
}

.plant-field input:focus,
.plant-field select:focus {
  outline: none;
  border: 1px solid var(--header-txt-active);
}

.red-err {
  color: var(--red-txt);
}

/* PLANTS */

.tomato {
  background-color: transparent;
  background-image: url("../../public/svg/tomato.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 5rem;
  height: 5rem;
}

.pepper {
  background-color: transparent;
  background-image: url("../../public/svg/pepper.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 5rem;
  height: 5rem;
}

.broccoli {
  background-color: transparent;
  background-image: url("../../public/svg/broccoli.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 5rem;
  height: 5rem;
}

.avocado {
  background-color: transparent;
  background-image: url("../../public/svg/avocado.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 5rem;
  height: 5rem;
}

.apple {
  background-color: transparent;
  background-image: url("../../public/svg/apple.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 5rem;
  height: 5rem;
}

.pineapple {
  background-color: transparent;
  background-image: url("../../public/svg/pineapple.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 5rem;
  height: 5rem;
}

.turnip {
  background-color: transparent;
  background-image: url("../../public/svg/turnip.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 5rem;
  height: 5rem;
}

.onion {
  background-color: transparent;
  background-image: url("../../public/svg/onion.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 5rem;
  height: 5rem;
}

.carrot {
  background-color: transparent;
  background-image: url("../../public/svg/carrot.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 5rem;
  height: 5rem;
}

.pomegranate {
  background-color: transparent;
  background-image: url("../../public/svg/pomegranate.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 5rem;
  height: 5rem;
}

.strawberry {
  background-color: transparent;
  background-image: url("../../public/svg/strawberry.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 5rem;
  height: 5rem;
}

.orange {
  background-color: transparent;
  background-image: url("../../public/svg/orange.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 5rem;
  height: 5rem;
}

.raspberry {
  background-color: transparent;
  background-image: url("../../public/svg/raspberry.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 5rem;
  height: 5rem;
}

.peas {
  background-color: transparent;
  background-image: url("../../public/svg/peas.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 5rem;
  height: 5rem;
}

.cabbage {
  background-color: transparent;
  background-image: url("../../public/svg/cabbage.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 5rem;
  height: 5rem;
}

.cherries {
  background-color: transparent;
  background-image: url("../../public/svg/cherries.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 5rem;
  height: 5rem;
}

.banana {
  background-color: transparent;
  background-image: url("../../public/svg/banana.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 5rem;
  height: 5rem;
}

.pumpkin {
  background-color: transparent;
  background-image: url("../../public/svg/pumpkin.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 5rem;
  height: 5rem;
}

.eggplant {
  background-color: transparent;
  background-image: url("../../public/svg/eggplant.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 5rem;
  height: 5rem;
}

.artichoke {
  background-color: transparent;
  background-image: url("../../public/svg/artichoke.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 5rem;
  height: 5rem;
}

.kiwi {
  background-color: transparent;
  background-image: url("../../public/svg/kiwi.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 5rem;
  height: 5rem;
}

.watermelon {
  background-color: transparent;
  background-image: url("../../public/svg/watermelon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 5rem;
  height: 5rem;
}

.pear {
  background-color: transparent;
  background-image: url("../../public/svg/pear.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 5rem;
  height: 5rem;
}

.olives {
  background-color: transparent;
  background-image: url("../../public/svg/olives.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 5rem;
  height: 5rem;
}

.grapes {
  background-color: transparent;
  background-image: url("../../public/svg/grapes.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 5rem;
  height: 5rem;
}

.corn {
  background-color: transparent;
  background-image: url("../../public/svg/corn.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 5rem;
  height: 5rem;
}

.herb {
  background-color: transparent;
  background-image: url("../../public/svg/herb.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 5rem;
  height: 5rem;
}
